In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
#Create a Spark Application
spark = SparkSession.builder.appName("groupbyagg").getOrCreate()

In [3]:
#Load the athlete_events.csv from Local System
athlete_events = spark.read.csv('file:///home/hduser/demo_1/athlete_events.csv',sep=',',inferSchema=True,header=True)

In [4]:
athlete_events.createOrReplaceTempView("athlete_events_view")

In [6]:
#Change your DB and table name as per your requirements...
MySQL_URL = "jdbc:mysql://localhost:3306/sqoop"
MySQL_driver = "com.mysql.jdbc.Driver"
MySQL_table = "athlete_events_Mysql"
user = "root"
password = "password"

In [7]:
#Write a spark DF into a MySQL table.
athlete_events.write.format('jdbc').options(url=MySQL_URL,driver=MySQL_driver,dbtable=MySQL_table,user=user,password=password).mode('overwrite').save()

In [8]:
#Read the data from MySQL table and store it in a spark DF.
read_from_MySQL = spark.read.format("jdbc").option("url", MySQL_URL).option("driver", MySQL_driver).option("dbtable", MySQL_table).option("user", user).option("password", password).load()

In [10]:
read_from_MySQL.show()

+------+--------------------+---+---+------+------+-------------+---+-----------+----+------+--------------+-------------+--------------------+------+
|    ID|                Name|Sex|Age|Height|Weight|         Team|NOC|      Games|Year|Season|          City|        Sport|               Event| Medal|
+------+--------------------+---+---+------+------+-------------+---+-----------+----+------+--------------+-------------+--------------------+------+
|112595|Glenn Andrew Mark...|  M| 25|   178|    83|  New Zealand|NZL|2012 Summer|2012|Summer|        London|     Swimming|Swimming Men's 10...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
|112595|Glenn Andrew Mark...|  M| 25|   178|    83|  New Zealand|NZL|2012 Summer|2012|Summer|        London|     Swimming|Swimming Men's 20...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
|112595|Glenn Andrew Mark...|  M| 25|   178|    83|  New Zealand|NZL|2012 Summer|2012|Summer|        London|     Swimming|Swimming Men's 4 ...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
|112595|Glenn Andrew Mark...|  M| 29|   178|    83|  New Zealand|NZL|2016 Summer|2016|Summer|Rio de Janeiro|     Swimming|Swimming Men's 10...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
|112595|Glenn Andrew Mark...|  M| 29|   178|    83|  New Zealand|NZL|2016 Summer|2016|Summer|Rio de Janeiro|     Swimming|Swimming Men's 20...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
|112596|        Zenon Snylyk|  M| 23|   170|    68|United States|USA|1956 Summer|1956|Summer|     Melbourne|     Football|Football Men's Fo...|    NA|
| 37971| Adrian-Francisc Gal|  M| 21|    NA|    NA|      Romania|ROU|1992 Summer|1992|Summer|     Barcelona|   Gymnastics|Gymnastics Men's ...|    NA|
|112597|"Philippus Albert...|  M| 29|   188|    95| South Africa|RSA|2016 Summer|2016|Summer|Rio de Janeiro| Rugby Sevens|Rugby Sevens Men'...|Bronze|
|112598|        Wayne Snyman|  M| 31|   177|    65| South Africa|RSA|2016 Summer|2016|Summer|Rio de Janeiro|    Athletics|Athletics Men's 2...|    NA|
| 37972|"Edwin Johannes "...|  M| 42|   182|    72|  Netherlands|NED|2012 Summer|2012|Summer|        London|Equestrianism|Equestrianism Mix...|    NA|
|112599|Nataliya Anatolye...|  F| 22|    NA|    NA|       Russia|RUS|1994 Winter|1994|Winter|   Lillehammer|     Biathlon|Biathlon Women's ...|    NA|
| 37972|"Edwin Johannes "...|  M| 42|   182|    72|  Netherlands|NED|2012 Summer|2012|Summer|        London|Equestrianism|Equestrianism Mix...|Bronze|
|112599|Nataliya Anatolye...|  F| 22|    NA|    NA|       Russia|RUS|1994 Winter|1994|Winter|   Lillehammer|     Biathlon|Biathlon Women's ...|  Gold|
| 37972|"Edwin Johannes "...|  M| 46|   182|    72|  Netherlands|NED|2016 Summer|2016|Summer|Rio de Janeiro|Equestrianism|Equestrianism Mix...|    NA|
+------+--------------------+---+---+------+------+-------------+---+-----------+----+------+--------------+-------------+--------------------+------+
only showing top 20 rows